@import 'src/assets/styles/breakpoints';

.customButton {
  width: 100%;
  display: block;
  font-weight: 900;
  font-size: var(--qs-5x);
  text-transform: uppercase;
  background: var(--color-tc-violet);
  border: none;
  border-radius: var(--qs-3x);
  padding: var(--qs-7x) 0;
  color: var(--color-tc-white);
  cursor: pointer;

  &.outlined {
    background: none;
    border: var(--border-size-m) solid;
    color: var(--color-tc-violet-l);
    padding: calc(var(--qs-7x) - var(--border-size-m)) 0;
  }

  &.gradient {
    position: relative;
    background: linear-gradient(90deg, var(--color-tc-gradient-start) 0%, var(--color-tc-gradient-finish) 100%);
    box-shadow: 0 var(--qs-2x) 0 var(--color-tc-red-w);

    &:active {
      transform: translate(0, var(--qs-2x));
      box-shadow: none;
    }
  }
}

@media (max-width: $sm-width-max) {
  .customButton {
    font-size: var(--qs-4x);
    padding: var(--qs-5x) 0;

    &.outlined {
      padding: calc(var(--qs-5x) - var(--border-size-m)) 0;
    }
  }
}
