@import 'src/assets/styles/breakpoints';

.customInput {
  display: block;
  width: 100%;
  background: none;
  color: var(--color-tc-white);
  border: var(--border-size-s) solid;
  border-radius: var(--qs-3x);
  font-size: var(--qs-5x);
  padding: var(--qs-6x) var(--qs-5x);
  box-sizing: border-box;
  font-weight: 500;

  &::placeholder {
    color: var(--color-tc-white);
    opacity: 0.8;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-focus-elements);
  }
}

@media (max-width: $sm-width-max) {
  .customInput {
    font-size: var(--qs-4x);
    padding: var(--qs-4x) var(--qs-5x);
  }
}
