@import 'src/assets/styles/breakpoints';

.wrapper {
  display: flex;
  justify-content: center;

  img {
    margin-right: var(qs);
  }

  img:last-of-type {
    margin-right: 0;
  }
}
@media (max-width: $sm-width-max) {
  .wrapper {

    img {
      width: var(--qs-6x);
    }
  }
}
