@import 'src/assets/styles/breakpoints';

.dark {
  background: url('../../assets/images/backgrounds/firstScreen/item_1.svg') right calc(var(--qs) * 20) no-repeat,
  url('../../assets/images/backgrounds/firstScreen/item_2.svg') left bottom no-repeat,
  url('../../assets/images/backgrounds/firstScreen/item_3.svg') left top no-repeat,
  url('../../assets/images/backgrounds/firstScreen/item_4.svg') right bottom no-repeat var(--color-tc-violet-l);
  background-size: calc(var(--qs) * 25) calc(var(--qs) * 87),
  calc(var(--qs) * 50) calc(var(--qs) * 50),
  calc(var(--qs) * 37) calc(var(--qs) * 150),
  calc(var(--qs) * 20) calc(var(--qs) * 112);
}

.light {
  background: url('../../assets/images/backgrounds/secondScreen/item_3.svg') right calc(var(--qs) * 20) no-repeat,
  url('../../assets/images/backgrounds/secondScreen/item_4.svg') left bottom no-repeat,
  url('../../assets/images/backgrounds/secondScreen/item_2.svg') left top no-repeat,
  url('../../assets/images/backgrounds/secondScreen/item_1.svg') right bottom no-repeat var(--color-tc-white);
  background-size: calc(var(--qs) * 32) calc(var(--qs) * 107),
  calc(var(--qs) * 85) calc(var(--qs) * 107),
  calc(var(--qs) * 55) calc(var(--qs) * 67),
  calc(var(--qs) * 50) calc(var(--qs) * 75);
}

@media (max-width: $sm-width-max) {
  .light {
    background: url('../../assets/images/backgrounds/secondScreen/item_3.svg') right var(--qs-10x) no-repeat,
    url('../../assets/images/backgrounds/secondScreen/item_4.svg') left bottom no-repeat,
    url('../../assets/images/backgrounds/secondScreen/item_2.svg') left top no-repeat,
    url('../../assets/images/backgrounds/secondScreen/item_1.svg') right bottom no-repeat var(--color-tc-white);
    background-size: calc(var(--qs) * 15) calc(var(--qs) * 50),
    calc(var(--qs) * 30) calc(var(--qs) * 40),
    calc(var(--qs) * 30) calc(var(--qs) * 40),
    calc(var(--qs) * 40) calc(var(--qs) * 45);
  }
}
