:root {
  --color-tc-violet: #424A9E;
  --color-tc-violet-l: #4953BE;
  --color-tc-white: #FFFFFF;
  --color-tc-white-b: #DBDEFF;
  --color-tc-white-red: #FFDBDB;
  --color-tc-red-w: #c65252;
  --color-tc-oarnge-w: #F7A491;
  --color-tc-white-w-d: #FF7878;
  --color-tc-gradient-start: #FFA67A;
  --color-tc-gradient-finish: #FF6065;
  --color-tc-black: #000000;
  --color-tc-black-opacity: rgba(0, 0, 0, 0.35);
}
